// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center-cropped {
  margin: 0 auto;
  height: 250px;
  background-position: center 42%;
  position: relative;
}

.caption {
  position: absolute;
  bottom: 0;
  right: 3%;
  color: lightcyan;
}
